/*   THIS IS WHERE ALL THE MASTER STYLING WILL GO   */
@import url(https://fonts.googleapis.com/css?family=Righteous|Lobster+Two:400,700|Noto+Sans);

* {
	box-sizing: border-box;
}

body {
	background-color: #fffacc;

}

.jumbotron {
    position: relative;
    background: #fff37f url("hamburger.jpg") center center;
    color: #ea332d;
	font-family: 'Lobster Two';
	text-align: center;
	font-size: 7em;
	text-shadow: 3px 3px #bdaf2b
}

.header {
	
}

h3 {
	font-family: 'Righteous';
	color: #781c7b;
	font-size: 2em;
	text-align: center;
}

p {
	font-family: 'Noto Sans';
	color: #1c888d;
}

#instagrid {
	float: center;
}


/* About Us styling */

img {

	height: 40%;
}

#about_us p {
	text-align: left;
}

footer p {
	display: inline-block;
	text-align: center;
	width: 100%
}

#hours p {
	text-align: center;

}

/* NaViGaTiOn*/

ul {
	list-style: none;
}

ul li {
	background: #bdaf2b; 
	display: inline-block;
}



/* Media Querys, yo */

@media (min-width: 749px){

	.wrapper {
		width: 80%;
		margin: 0 auto;
		min-height: calc(100vh - 22px); 
	}
	.about_us p {
		float: left;
		margin-right: 60%;
	}
}