/*   THIS IS WHERE ALL THE MASTER STYLING WILL GO   */
@import url(https://fonts.googleapis.com/css?family=Righteous|Lobster+Two:400,700|Noto+Sans);

* {
	box-sizing: border-box;
}

body {
	background-color: #fff37f;
}

.header {
	color: #ea332d;
	font-family: 'Lobster Two';
	text-align: center;
	font-size: 7em;
	text-shadow: 3px 3px #bdaf2b
}

h3 {
	font-family: 'Righteous';
	color: #781c7b;
	font-size: 2em;
	text-align: center;
}

p {
	font-family: 'Noto Sans';
	color: #1c888d;
	text-align: center;
}

/* About Us styling */

#instagrid {
	float: right;
}

#about_us p {
	text-align: left;
	float: left;
	margin-right: 40%;
}

#hours {
	text-align: center;
}


/* Media Querys, yo */

@media (min-width: 769px){

	.wrapper {
		width: 80%;
		margin: 0 auto;
		min-height: calc(100vh - 22px); 
	}
}